* {
  margin: 0;
  padding: 0;
  font-family: "Nanum Myeongjo", Gothic, sans-serif;
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}

li { list-style: none; }

/* img { border-radius: 10px; } */

body {
  background-image: url('main_photo.jpeg');
  background-size: 100%;
  background-attachment: fixed;
}

#main-navigation {
  color: white;
  background-color: #463b31;
  position: fixed;
  top: 0;
  padding: 0px 20px 10px 0;
  width: 100%;
  height: 40px;
  overflow: hidden;
  z-index: 2;
  /* border-bottom: 2px solid #fef7e3; */
}

#title {                /*main-label*/
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  float: left;
  padding: 10px 0 0 10px;
}

.menu-label { /*label 속성*/
  float: right;
  height: 30px;
  line-height: 30px;
  padding: 10px 20px;
}

.menu-label:first-child { margin:0 20px 0 0; } /* 오른쪽 끝 여백 */

.menu-label:hover { 
  border-radius: 10px;
  background-color: #a89b8d;
  color: #463b31;
  margin-top: 5px;
  height: 20px;
  line-height: 20px;
  font-size: 25px;
  font-weight: bold;
}

/* 라디오 버튼 */
#radio1 { display: none; }
#radio1 ~ #content1{ display:none; }
#radio1:checked ~ #content1{ display:block; }

#radio2 { display: none; }
#radio2 ~ #content2{ display:none; }
#radio2:checked ~ #content2{ display:block; }

#radio3 { display: none; }
#radio3 ~ #content3{ display:none; }
#radio3:checked ~ #content3{ display:block; }

#radio4 { display: none; }
#radio4 ~ #content4{ display:none; }
#radio4:checked ~ #content4{ display:block; }

#main-radio { display: none; }
#main-radio ~ #main-content{ display:none; }
#main-radio:checked ~ #main-content{ display:block; }

#page-wrapper {
  overflow: hidden; 
  width: 1000px; 
  margin: 150px auto;
  /* background-color: #fef7e3; */
  font-size: 16px;
  line-height: 27px;
}

#main-content {
  background-color: white;
  overflow: hidden;
  width: 80%;
  margin: 100px auto;
  color: black;
}

#content1, #content2, #content3, #content4 {
  background-color: #fef7e3;
  overflow: hidden;
  width: 80%;
  padding: 80px 90px;
}

#content2-1 {
  background-color: wheat;
  overflow: hidden;
  padding: 15px;
  /* width: 80%; */
  /* margin: 100px auto; */
}

#content2-1 > .q { /*질문*/
  font-weight: bold;
}

#content2-1 > .a { /*대답*/
  color: blue;
}


.slider{
  width: 600px;
  height: 800px;
  position: relative;
  margin: 0 auto;
  overflow: hidden; 
}
.slider input[type=radio]{
  display: none;
}

ul.imgs{
  padding: 0;
  margin: 0;
  list-style: none;    
}
ul.imgs li{
  position: absolute;
  left: 600px;
  transition-delay: 1s; /* 새 슬라이드가 이동해 오는 동안 이전 슬라이드 이미지가 배경이 보이도록 지연 */

  padding: 0;
  margin: 0;
}

.bullets{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 2;
}
.bullets label{
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.55);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
/* 현재 선택된 불릿 배경 흰색으로 구분 표시 */
.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
  background-color: #fff;
}
.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
  background-color: #fff;
}
.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
  background-color: #fff;
}
.slider input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
  background-color: #fff;
}

.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
  left: 0;
  transition: 0.5s;
  z-index:1;
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
  left: 0;
  transition: 0.5s;
  z-index:1;
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
  left: 0;
  transition: 0.5s;
  z-index:1;
}
.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
  left: 0;
  transition: 0.5s;
  z-index:1;
}


